.image-swiper-button-next {
  /* height: 200px;
  width: 200px;
  border: 1px solid red; */
  color: red;
}
.image-swiper-button-prev {
  /* height: 200px;
  width: 200px;
  border: 1px solid red; */
  color: red;
}
